nav a {
    font-family: 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.003em;
    color: #0F1114!important;
}

nav li a.nav-link {
    padding-left: 0!important;
    padding-right: 0!important;
}

a.nav-link.active {
    border-bottom: 2px solid #023DB5;
}

nav li.nav-item {
    margin-left: 35px
}

nav li.nav-item:first-child {
    margin-left: 90px;
}

nav .list-inline {
    margin: 0;
}
nav .list-inline button {
    margin-right: 30px;
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border-radius: 6px;
    position: relative;
}

.active-btn {
    background: #F6F7F8!important;
}

.notification {
    position: absolute;
    top: 5px;
    left: 5px;
}
